# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
absl-py=2.1.0=pypi_0
astunparse=1.6.3=pypi_0
ca-certificates=2024.7.2=hca03da5_0
cachetools=5.5.0=pypi_0
certifi=2024.8.30=pypi_0
charset-normalizer=3.3.2=pypi_0
flatbuffers=24.3.25=pypi_0
gast=0.4.0=pypi_0
google-auth=2.34.0=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.66.1=pypi_0
h5py=3.11.0=pypi_0
idna=3.10=pypi_0
importlib-metadata=8.5.0=pypi_0
importlib-resources=6.4.5=pypi_0
keras=2.13.1=pypi_0
libclang=18.1.1=pypi_0
libcxx=14.0.6=h848a8c0_0
libffi=3.4.4=hca03da5_1
markdown=3.7=pypi_0
markupsafe=2.1.5=pypi_0
ncurses=6.4=h313beb8_0
nibabel=5.2.1=pypi_0
numpy=1.24.3=pypi_0
oauthlib=3.2.2=pypi_0
openssl=3.0.15=h80987f9_0
opt-einsum=3.3.0=pypi_0
packaging=24.1=pypi_0
pip=24.2=py38hca03da5_0
protobuf=4.25.4=pypi_0
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.1=pypi_0
python=3.8.19=hb885b13_0
readline=8.2=h1a28f6b_0
requests=2.32.3=pypi_0
requests-oauthlib=2.0.0=pypi_0
rsa=4.9=pypi_0
scipy=1.10.1=pypi_0
setuptools=72.1.0=py38hca03da5_0
six=1.16.0=pypi_0
sqlite=3.45.3=h80987f9_0
tensorboard=2.13.0=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorflow=2.13.0=pypi_0
tensorflow-estimator=2.13.0=pypi_0
tensorflow-macos=2.13.0=pypi_0
termcolor=2.4.0=pypi_0
tk=8.6.14=h6ba3021_0
typing-extensions=4.5.0=pypi_0
urllib3=2.2.3=pypi_0
werkzeug=3.0.4=pypi_0
wheel=0.44.0=py38hca03da5_0
wrapt=1.16.0=pypi_0
xz=5.4.6=h80987f9_1
zipp=3.20.2=pypi_0
zlib=1.2.13=h18a0788_1
